@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;400;600;800&display=swap'); */
:root {
    --theme: rgb(52, 211, 153);
    --lighterTheme: #8ffdd5;
    --sliderWidth: 90px;
    --whiteToDark: rgb(255, 255, 255);
    --whiteToLightDark: rgb(255, 255, 255);
    --darkToWhite: black;
    --textColor: rgb(0,0,0);
    --boxShadow: rgb(0, 0, 0, 0.31);
    --contrastColorValue: rgb(0, 0, 0);  /*This is not used in the css but rather in the js file to know what is the current color of contrast elements*/
}

@keyframes sign {
    to {
        stroke-dashoffset: 0;
    }
}


body{
    overflow-x: hidden;
    background-color: var(--whiteToDark);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--whiteToDark);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--theme);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--theme);
}

.ball {
    position: fixed;
    /* border-radius: 100%; */
    border-radius: 10px;
    border-bottom-right-radius: 50%;
    opacity: 0.7;
    background-color: var(--theme);
    z-index: -100000;
    opacity: 0;
    transition: all 2s;
}

.opening-button{
    box-shadow: 0 0 20px var(--boxShadow);
}
.dark-theme-container{
    box-shadow: 0 0 15px 1px var(--boxShadow);
    transition: 0.3s all;
    transform: translateX(108%);
}
.dark-theme-slider-container{
    box-shadow: inset 0 0 6px 0px rgb(0 0 0 / 49%);
    transition: 0.1s all;
    cursor: pointer;
}
.dark-theme-slider{
    box-shadow: 0 0 3px var(--boxShadow);
    transition: 0.3s all;
}
.slide-right{
    left: 100%;
    transform: translateX(-50%);
}
.color-selector-btn{
    background-color: var(--theme)
}
.floating-card{
    @apply bg-white shadow-2xl absolute;
    cursor: default;
    box-shadow: 7px 7px 18px 0px var(--boxShadow);
    transition: 3s transform ease, 0.3s box-shadow ease;
    background-color: var(--theme);
    /* border: 3px solid black; */
    border-radius: 30px;
    border-bottom-right-radius: 50%;
}
.floating-card:hover{
    box-shadow: 0px 0px 5px 0px var(--boxShadow);   
}

.translate-to-mid{
    transform: translate(-50%, -50%);
}
.signature-container{
    width: 500px;
    height: 300px;
    border-radius: 30px;
    /* box-shadow: 0 0 19px 9px rgb(34, 34, 34, 0.38); */
    /* border-top-right-radius: 40px;
    border-bottom-right-radius: 117px;
    border-bottom-left-radius: 38px;
    border-top-left-radius: 84px; */
    border-top-right-radius: 245px;
    border-bottom-right-radius: 160px;
    border-bottom-left-radius: 145px;
    border-top-left-radius: 191px;
    transition: 2s all;
    transform: translate(-50%, -50%) rotate(-8deg);
    /* border: 4px solid var(--theme); */
}

#signature-svg{
    /* width: 20vw; */
    height: auto;
    max-width: 650px;
    margin: 0 auto;
    transform: rotate(8deg);
}

#signature{
    /* stroke-dasharray: 1314;
    stroke-dashoffset: 1314; */
    stroke-dasharray: 4255.48193359375;
    stroke-dashoffset: 4255.48193359375;
    animation: sign 4s ease;
    animation-fill-mode: forwards;
}
.signature-container h1{
    transform: rotate(8deg);
    opacity: 0;
    transition: 0.4s all;
}
.grandstander-font{
    font-family: 'Grandstander', cursive;
}

.intro-content-holder{
    background: var(--whiteToLightDark);
    box-shadow: 9px 9px 20px 1px var(--boxShadow);
    border: 8px solid var(--theme);
    color: var(--darkToWhite);
    border-radius: 70px;
    border-right: 0;
    border-bottom: 0;
}

.color-svg{
    fill: var(--theme);
}

.content-holder{
    /* background: linear-gradient(210deg, #3df3b0, #17b37a); */
    background: linear-gradient(210deg, var(--lighterTheme), var(--theme));
    box-shadow: 9px 9px 20px 1px var(--boxShadow);
}

.content-div{
    min-width: 240px;
    height: 138%;
    border: 5px solid #252525;
    box-shadow: -15px 15px 0px #252525;
    transition: all 0.3s;
}
@media only screen and (max-width: 640px) {
    .content-div {
        min-width: 100%;
        height: 90px;
        border: 5px solid #252525;
        box-shadow: -5px 5px 0px #252525;
        margin-top: -4px;
        transform: rotate(4deg);
    }
}
.content-div:hover{
    box-shadow: -5px 5px 0px #252525;
    transform: translate(-5px, 5px) rotate(2deg);
}

.dark-theme-text{
    color: var(--textColor);
}
.tech-logos{
    /* filter: drop-shadow(-5px 5px 4px #252525); */
    margin: auto auto;
}

.single-skill-option{
    width: var(--sliderWidth);
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s all;
}

#sliding-bar{
    width: 90px;
    transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 480px) {
    #sliding-bar {
        width: 70px;
    }
}
.animate__backInRight{
    display: block !important;
}
.skills-container{
    background-color: var(--whiteToDark);
    color: var(--textColor);
}
.contrast-color{
    color: black;
}

.theme-color{
    background-color: var(--theme);
}
.skills-category{
    transform: translateX(-50px);
    opacity: 0;
    width: 90%;
    transition: 0.3s all;
}
.tech-logos-container{
    transform: translateX(50px);
    opacity: 0;
    transition: 0.3s all;
}
.strokes path{
    fill: var(--theme);
}

.project-card{
    @apply w-11/12 lg:w-full m-auto md:m-0 mb-20 relative max-w-sm h-auto shadow-2xl md:mb-5 rounded-2xl border-2 border-black bg-green-300 flex flex-col items-center;
    /* background: linear-gradient(273deg, #3df3b0, #00a066); */
    background: linear-gradient(273deg, var(--lighterTheme), var(--theme));
}
.project-card-image{
    @apply w-full rounded-2xl border-4 border-black mb-3 z-0;
    min-width: 120%;
    box-shadow: 0 0 30px 2px var(--boxShadow);
}
/* .project-card-image{
    @apply w-full rounded-t-2xl border-b-4 border-black mb-3 z-10;
} */
.project-card-heading{
    @apply text-2xl font-semibold text-center mt-4 sm:text-3xl;
}
.project-card-text{
    @apply text-sm text-justify mx-6 my-6;
}
.project-card-button{
    @apply px-5 py-5 bg-black border-2 border-black text-white rounded-full m-2 transition-all hover:bg-white hover:text-black;
}

.wp-project-card-button{
    @apply px-5 py-5 bg-black border-2 border-black text-white rounded-full m-2 transition-all hover:bg-white hover:text-black;
}
.list-of-plugins{
    margin-top: 5px;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
} */


.proj-detail-modal-container{
    background-color: rgba(0, 0, 0, 0.75);
}

.projDetail-modal{
    border: 15px solid var(--theme);
    background-color: white;
    border-right: 0;
    border-bottom: 0;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.projDetail-modal .text-container{
    max-width: 430px;
}
.projDetail-modal .detailsModal-heading{
    font-size: 40px;
    font-weight: bold;
}

.projDetail-modal .detailsModal-secondaryHeading{
    font-weight: 600;
}
.projDetail-modal .detailsModal-image{
    box-shadow: 0 0 25px 3px rgb(34, 34, 34, 0.4);
}
.projDetail-modal .text-container h2{
    font-size: 25px;
}
.projDetail-modal .text-container p, .projDetail-modal .text-container li{
    font-size: 15px;
}
.projDetail-modal .close-detailsModal-button svg:hover{
    transition: all 0.3s;
    transform: rotate(90deg);
}
.projDetail-modal::-webkit-scrollbar-thumb {
    border: 3px solid rgb(255, 255, 255)
}

.projDetail-modal .detailsModal-techstack{
    resize: none;
}
.projDetail-modal .detailsModal-techstack:focus{
    outline: none;   
}


.freecodecamp-content-holder{
    /* background: linear-gradient(210deg, #3df3b0, #17b37a); */
    /* background: linear-gradient(210deg, var(--lighterTheme), var(--theme)); */
    background-color: var(--whiteToLightDark);
    box-shadow: 9px 9px 20px 1px var(--boxShadow);
    border: 9px solid var(--darkToWhite);
    border-bottom: 0;
    border-right: 0;
    color: var(--darkToWhite);
}

.freecodecamp-profile-btn{
    background-color: var(--darkToWhite);
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 0 18px rgb(96,96.96,0.7);
    border: 3px solid var(--whiteToDark);
    border-radius: 30px;
    transition: all 0.3s;
    color: var(--whiteToDark);
}

.freecodecamp-profile-btn:hover{
    background-color: var(--whiteToDark);
    color: var(--darkToWhite);
}

.freecodecamp-cert-image{
    filter: drop-shadow(0 0 15px hsla(0, 0%, 38%, 0.664));
    border: 6px solid black;
    border-radius: 20px;
}

.hackerrank-content-holder{
    /* background: linear-gradient(210deg, #3df3b0, #17b37a); */
    /* background: linear-gradient(210deg, var(--lighterTheme), var(--theme)); */
    background-color: var(--whiteToLightDark);
    box-shadow: 9px 9px 20px 1px var(--boxShadow);
    border: 9px solid var(--theme);
    border-bottom: 0;
    border-right: 0;
    color: var(--darkToWhite);
}

.hackerrank-profile-btn{
    background-color: var(--theme);
    padding: 20px 30px;
    text-align: center;
    box-shadow: 0 0 18px rgb(96,97, 91,0.49);
    border: 3px solid var(--theme);
    border-radius: 30px;
    transition: all 0.3s;
}

.hackerrank-profile-btn:hover{
    background-color: white;
    color: black;
}

.badge-image{
    filter: drop-shadow(0 0 15px hsla(0, 0%, 38%, 0.664));
}

.levitation {
    transform: rotate(5deg);
    filter: drop-shadow(16px 15px 16px rgba(0, 0, 0, 0.5));
    animation: bouge 1.7s infinite alternate-reverse;
  }
  
  @keyframes bouge {
    /*starting point and angle (same angle as choosen into .levitation)*/
    from {
      transform: translateY(0px) rotate(-3deg);
    }
    /* ending point and angle */
    to {
      transform: translateY(10px) rotate(3deg);
    }
  }


footer{
    /* background-color: #121212; */
    background-color: var(--theme);
    box-shadow: 0 0 10px var(--boxShadow);
    border-top: 1px solid var(--darkToWhite);
}

footer h2{
    -webkit-text-stroke: 2px black;
}

.social-icon{
    filter: drop-shadow(0px 0px 2px black);
}
.social-icon:hover{
    transition: 0.2s all;
    fill: black;
    filter: drop-shadow(0px 0px 0px black);
}

.back-to-top{
    box-shadow: 0 0 10px var(--boxShadow);
    color: var(--textColor);
    background-color: var(--whiteToLightDark);
    transition: all 0.2s;
    border: 2px solid black;
    cursor: pointer;
}
.back-to-top:hover{
    width: 3.5rem;
    height: 3.5rem;
}

@media only screen and (max-width: 530px) {

    .signature-container{
        width: 300px;
        height: 240px;
    }

    #signature-svg{
        width: 249px;
        height: 55px;
    }
}
